@font-face {
    font-family: 'modak';
    src: url('/Assets/fonts/Modak-Regular.ttf');
}

.snake,
.apple {
    display: none;
}

body {
    width: 100%;
    font-family: 'modak';
    background-image: url('/Assets/img/background.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}

#canvas {
    width: 90%;
    display: flex;
    margin: 70px auto;
    background-color: white;
}

h1 {
    font-size: 6rem;
    text-align: center;
    margin-top: 0px;
}

.main-logo {
    display: flex;
    margin: 150px auto 50px auto;
    width: 40%;
}

.btn-start {
    display: flex;
    margin: 80px auto;
    font-size: 3rem;
    font-weight: 600;
    background-color: black;
    color: white;
    padding: 25px 50px;
    border-radius: 100px;
}

.btn-back {
    margin: 50px 40px;
    display: flex;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 100px;
    background-color: black;
}


.btn-replay {
    margin: 35px 375px;
    display: block;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 100px;
    background-color: black
}

.text-btn-replay {
    background-color: #9BAF8C;
    padding: 50px 200px;
    position: absolute;
    top: 25%;
    left: 25%;
    display: none;
    justify-content: center;
}

.p-1 {
    font-size: 60px;
}

.p-2 {
    font-size: 30px;
    text-align: center;
}

#game-score2 {
    text-align: center;
}
.input {
    display: flex;
    justify-content: center;
 }

.start {
    text-decoration: none;
    color: white;
}

.back {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.arrow {
    width: 25%;
}

.game-logo {
    display: flex;
    width: 25%;
}

.arrowUp,
.arrowDown {
    display: flex;
    margin: auto;
}

.command-center {
    display: flex;
    justify-content: center;
}

.arrowUp {
    margin-top: 50px;
}

@media all and (min-width: 544px) {

    body {
        background-size: cover;
    }

    .main-logo {
        width: 20%
    }

    #canvas {
        width: 50%;
        margin: 70px;
    }

    .command {
        width: 40%;
        position: absolute;
        margin-top: -60%;
        margin-left: 60%;
    }

    .btn-back {
        position: absolute;
        margin-top: -18%;
        margin-left: 75%;
    }


}