@font-face {
    font-family: 'modak';
    src: url('../fonts/Modak-Regular.ttf');
}
.kitty,
.snake,
.apple {
    display: none;
}

body {
    width: 100%;
    font-family: 'modak';
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}

#canvas {
    width: 90%;
    display: flex;
    margin: 30px auto 0px auto;
    background-color: white;
}

h1 {
    font-size: 6rem;
    text-align: center;
    margin-top: 0px;
}

.main-logo {
    display: flex;
    margin: 150px auto 50px auto;
    width: 40%;
}

.btn-start {
    display: flex;
    margin: 80px auto;
    font-size: 3rem;
    font-weight: 600;
    background-color: black;
    color: white;
    padding: 25px 50px;
    border-radius: 100px;
}

.btn-back {
    margin: 0px 20px;
    display: flex;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 100px;
    background-color: black;
}


.btn-replay {
    display: flex;
    margin: 20px auto;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 100px;
    background-color: rgb(0, 0, 0);
}

.text-btn-replay {
    text-align: center;
    background-color: #c0ceb6;
    padding: 10px;
    position: absolute;
    top: 25%;
    left: 8%;
    display: none;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.542);
}


#game-score2 {
    text-align: center;
}
.input {
    display: flex;
    justify-content: center;
 }

.start {
    text-decoration: none;
    color: white;
}

.back {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.arrow {
    width: 25%;
}

.game-logo {
    display: flex;
    width: 25%;
}

.arrowUp,
.arrowDown {
    display: flex;
    margin: auto;
}

.command-center {
    display: flex;
    justify-content: center;
}

.arrowUp {
    margin-top: -30px;
}

.score {
    margin: 20px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.end-score {
    display:inline-block;
    font-weight: 600;
    padding: 15px 30px;
}
.p-1 {
    margin: 20px; 
    font-size: 2rem;
}

.p-2 {

    margin:20 px;
    font-size: 2rem;
    text-align: center;
}

.playerName{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 150px;
    height: 30px;
    color: black;
}

@media all and (min-width: 544px) {

    body {
        background-size: cover;
    }

    .main-logo {
        width: 20%
    }

    #canvas {
        width: 50%;
        margin: 70px;
    }

    .command {
        width: 40%;
        position: absolute;
        margin-top: -60%;
        margin-left: 60%;
    }

    .btn-back {
        position: absolute;
        margin-top: -20%;
        margin-left: 80%;
    }

    .score {
        margin-top: -100px;
        width: 50%;
    }
    
}